<table class='table'>
  <tr>
    <th></th>
    <th>グループ名</th>
    <th>紹介文</th>
    <th>メンバー</th>
  </tr>
  <tr>
    <td>
      <%= attachment_image_tag(group, :image, :fill, 100, 100, fallback: "no-image-icon.jpg") %>
    </td>
    <td><%= group.name %></td>
    <td><%= group.introduction %></td>
    <td>
      <% @members.each do |member| %>
        <%= member.name %></br>
      <% end %>
    </td>
    <% if group.owned?(current_user) %>
      <td><%= link_to 'Edit', edit_group_path(group), class: "btn-sm btn-success edit_group_#{group.id}" %></td>
      <td><%= link_to 'Notice an Event', new_group_mail_path(group), class: "btn-sm btn-primary new_mail_#{group.id}" %></td>
    <% elsif group.joined?(current_user) %>
      <td><%= link_to 'Leave this group', leave_group_path(group), method: :delete, class: "btn-sm btn-danger leave_group_#{group.id}" %></td>
    <% else %>
      <td><%= link_to 'Join this group', join_group_path(group), method: :post, class: "btn-sm btn-success join_group_#{group.id}" %></td>
    <% end %>
  </tr>
</table>