<%= form_with model:book, local:true do |f| %>
  <div class="field row">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'col-xs-12 book_title' %>
  </div>

  <div class="field row">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'col-xs-12 book_body'%>
  </div>
  
  <div class="field row">
    <%= f.label :category %>
    <%= f.text_field :category, class: 'col-xs-12 book_category'%>
  </div>

  <% if book.id %>
    <div class="row relative-post-evaluation">
    <span id="star-rate-<%= book.id %>"></span>
    <script>
      $('#star-rate-<%= book.id %>').raty({
        size: 36,
        starOff: "<%= asset_path('star-off.png') %>",
        starOn: "<%= asset_path('star-on.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        half: true,
        readOnly: true,
        score: <%= book.star %>,
      });
    </script>
    </div>
  <% else %>
  <div class="field row" id="star">
    <%= f.label :star, "Rate" %>
    <%= f.hidden_field :star, id: :review_star %>
    <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'book[star]',
        half: true,
      });
    </script>
  </div>
  <% end %>

  <div class="actions row">
    <%= f.submit class: 'btn btn-primary col-xs-12'%>
  </div>
<% end %>
